<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="secondary">
  <h3>T3 DSW</h3>
  <ng-template [ngIf]="loggedIn">
    <div class="logout" style="text-align:right">
      <mat-card-actions>
        <button mat-flat-button color="primary" style="color: white" (click)="logout()">Sair</button>
      </mat-card-actions>
    </div>
  </ng-template>
</mat-toolbar>
<p></p>

<p></p>
<div class="alert-box">
  <app-alert></app-alert>
</div>
<p></p>
<div class="container">
  <router-outlet></router-outlet>
</div>
