table{
  width: 100%;
}

th{
  background-color: #673ab7;
  color: white;
}

.bottom-btn{
  text-align: center;
}

.btnCadastrarCliente{
  margin: 2rem;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #dad9da;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  text-align: center;
}

.example-element-detail > button{
  margin: .5rem;
}




