<div class="example-container">
  <mat-card class="example-card mat-elevation-z2">
    <mat-card-title>Realize seu cadastro</mat-card-title>

    <form [formGroup]="clienteForm" (ngSubmit)="onFormSubmit(clienteForm.value)">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" formControlName="nome" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.nome">
              <mat-error class="error-message" *ngIf="clienteForm.get('nome').hasError(validation.type) && (clienteForm.get('nome').dirty || clienteForm.get('nome').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.email">
              <mat-error class="error-message" *ngIf="clienteForm.get('email').hasError(validation.type) && (clienteForm.get('email').dirty || clienteForm.get('email').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Senha" formControlName="password" [errorStateMatcher]="matcher"/>
        <mat-error *ngFor="let validation of validation_messages.password">
          <mat-error class="error-message" *ngIf="clienteForm.get('password').hasError(validation.type) && (clienteForm.get('password').dirty || clienteForm.get('password').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CPF" formControlName="cpf" [errorStateMatcher]="matcher"  mask="000.000.000-00" />
            <mat-error *ngFor="let validation of validation_messages.cpf">
              <mat-error class="error-message" *ngIf="clienteForm.get('cpf').hasError(validation.type) && (clienteForm.get('cpf').dirty || clienteForm.get('cpf').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Telefone" formControlName="telefone" [errorStateMatcher]="matcher" [dropSpecialCharacters]="false" mask="(00) 00000-0000" />
            <mat-error *ngFor="let validation of validation_messages.telefone">
              <mat-error class="error-message" *ngIf="clienteForm.get('telefone').hasError(validation.type) && (clienteForm.get('telefone').dirty || clienteForm.get('telefone').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Data de Nascimento" formControlName="data_nascimento"
              [errorStateMatcher]="matcher" [dropSpecialCharacters]="false" mask="00/00/0000" />
              <mat-error *ngFor="let validation of validation_messages.data_nascimento">
                <mat-error class="error-message" *ngIf="clienteForm.get('data_nascimento').hasError(validation.type) && (clienteForm.get('data_nascimento').dirty || clienteForm.get('data_nascimento').touched)">{{validation.message}}</mat-error>
              </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Sexo" formControlName="sexo" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.sexo">
              <mat-error class="error-message" *ngIf="clienteForm.get('sexo').hasError(validation.type) && (clienteForm.get('sexo').dirty || clienteForm.get('sexo').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="button-row">
        <button type="submit" mat-raised-button color="primary">Cadastrar</button>
      </div>
    </form>
  </mat-card>
</div>