<div class="example-container">
  <mat-card class="example-card mat-elevation-z2">
    <form [formGroup]="locadoraForm" (ngSubmit)="onFormSubmit(locadoraForm.value)">
      <mat-card-title>Realize seu cadastro</mat-card-title>

      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" formControlName="nome" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.nome">
              <mat-error class="error-message"
                *ngIf="locadoraForm.get('nome').hasError(validation.type) && (locadoraForm.get('nome').dirty || locadoraForm.get('nome').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.email">
              <mat-error class="error-message"
                *ngIf="locadoraForm.get('email').hasError(validation.type) && (locadoraForm.get('email').dirty || locadoraForm.get('email').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Senha" formControlName="password" [errorStateMatcher]="matcher" />
        <mat-error *ngFor="let validation of validation_messages.password">
          <mat-error class="error-message"
            *ngIf="locadoraForm.get('password').hasError(validation.type) && (locadoraForm.get('password').dirty || locadoraForm.get('password').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CNPJ" formControlName="cnpj" [errorStateMatcher]="matcher" mask="00.000.000/0000-00" />
            <mat-error *ngFor="let validation of validation_messages.cnpj">
              <mat-error class="error-message"
                *ngIf="locadoraForm.get('cnpj').hasError(validation.type) && (locadoraForm.get('cnpj').dirty || locadoraForm.get('cnpj').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cidade" formControlName="cidade" [errorStateMatcher]="matcher" />
            <mat-error *ngFor="let validation of validation_messages.cidade">
              <mat-error class="error-message"
                *ngIf="locadoraForm.get('cidade').hasError(validation.type) && (locadoraForm.get('cidade').dirty || locadoraForm.get('cidade').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="button-row">
        <button type="submit" mat-raised-button color="primary">Cadastrar</button>
      </div>
    </form>
  </mat-card>
</div>
