<h1>Login</h1>
<h2>Papéis</h2>
<p>Nesta versão, o papel não altera em nada no comportamento do aplicativo.</p>
<h3>Admin</h3>
<ul>
    <li>CPF: "admin@admin", senha: "admin"</li>
</ul>
<h3>Cliente</h3>
<ul>
    <li>CPF: "45299448814", senha: "senhaforte"</li>
    <li>CPF: "12345678910", senha: "senhaforte"</li>
    <li>CPF: "98765432100", senha: "senhaforte"</li>
</ul>
<h3>Locadora</h3>
<ul>
    <li></li>
</ul>
<h2>Tokens</h2>
<p>Nesta versão, não estamos utilizando tokens de acesso.</p>
<h1>Clientes</h1>
<h2>Listagem</h2>
<p>A listagem é feita na página de Clientes. Para acessá-la é necessário login.</p>
<h2>Cadastro</h2>
<p>Para cadastrar um cliente, após feito login, vá até a página Clientes, clique no botão "Cadastrar Cliente" (ou acessar a url /cadastro-cliente) e em seguida preencha os campos do formulário.</p>
<h2>Edição e remoção</h2>
<p>Para editar ou remover um cliente, vá até a listagem de clientes, clique no cliente desejado e escolha se deseja editá-lo ou removê-lo. Caso escolha editar, será aberto o formulário de edição das informações. Caso escolha remover, o cliente simplesmente será removido.</p>