<div class="example-container">
    <mat-card class="example-card mat-elevation-z2">
      <mat-card-title>Editar cadastro de cliente</mat-card-title>
  
      <form [formGroup]="clienteForm" (ngSubmit)="onFormSubmit(clienteForm.value)">
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome" formControlName="nome" [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome').touched">
                  Nome é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('email').valid && clienteForm.get('email').touched">
                  Email é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Senha" formControlName="senha" [errorStateMatcher]="matcher"/>
          <mat-error>
            <span *ngIf="!clienteForm.get('senha').valid && clienteForm.get('senha').touched">
              Senha é um campo obrigatório !
            </span>
          </mat-error>
        </mat-form-field>
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="CPF" formControlName="cpf" [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('cpf').valid && clienteForm.get('cpf').touched">
                  CPF é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Telefone" formControlName="telefone" [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('telefone').valid && clienteForm.get('telefone').touched">
                  Telefone é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Data de Nascimento" formControlName="data_nascimento"
                [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('data_nascimento').valid && clienteForm.get('data_nascimento').touched">
                  Data de nascimento é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Sexo" formControlName="sexo" [errorStateMatcher]="matcher" />
              <mat-error>
                <span *ngIf="!clienteForm.get('sexo').valid && clienteForm.get('sexo').touched">
                  Sexo é um campo obrigatório !
                </span>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
  
        <div class="button-row">
          <button type="submit" mat-raised-button color="primary">Editar</button>
        </div>
      </form>
    </mat-card>
  </div>