<mat-card class="example-card mat-elevation-z0">
  <form class="example-form" action="login()">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="login-box" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="CPF" [(ngModel)]="cpf" name="cpf" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Senha" [(ngModel)]="senha" type="password" name="senha" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions class="login-box">
      <button mat-raised-button (click)="login()" color="primary">ENTRAR</button>
    </mat-card-actions>
  </form>
</mat-card>
