.example-card{
    margin: 0 auto;
    width: 40%;
}

.mat-card-actions{
    margin: 0 auto;
    width: 20%;
}

.login-box{
    width: 100%;
    text-align: center;
}

.example-full-width{
    width: 80%;
}

mat-card-content{
    padding: 1rem;
    margin-bottom: 0;
}
